*
{
	margin:0;
	padding:0;
}
body
{
	background-color: #f1f3f4;
	font-family: 'Times New Roman', Times, serif;
}
.logo
{
	margin: 5px 10px;
    float: left;
}

/*--------navigation-------*/
.navigation
{
	height: 50px;
	top: 0;
	position: sticky;
	background: black;
	border-bottom: 3px solid orange;
	z-index: 2;

}
.menu
{
	width: 70%;
	height: 57px;
	float: right;
}
.menu ul
{
	display: inline-flex;
	float: right;
}
.menu ul li
{
	border-left: 0.5px solid rgb(211, 204, 204);
	height: 45px;
	list-style-type: none;
	padding: 15px 35px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}
.menu ul li a
{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}


/*--------slider-------*/
.slide
{
	margin-left: 20%;
	margin-right: 20%;
	padding: 0 10px;
}
.slide img
{
	height: 600px;
	width: 700px;
	float: center;
}

/*--------products-------*/
.product-top img
{
	max-width: 100%;
	
}
.product-top a
{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	align-items: center;
}
.imag
{
	align-content: center;
}
.product-bottom b
{
	text-align: left;
	font-size: 16px;
	color: #0F1111;
	font-family: Arial, Helvetica, sans-serif;
}
.product-bottom h5
{
	text-align: left;
	color: maroon;
	font-family: Arial, Helvetica, sans-serif;
}

/*-----------About us---------*/
.inner-container img
{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}
.text 
{
	text-align: center;
	font-size: large;
	font: 13px;
	background: mintcream;
	padding: 15px 15px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}
.footer
{
	text-align: center;
	background: mintcream;
}

.footer a
{
	font-size: 16px;
	font-weight: bold;
	color:maroon;
	text-decoration: none;
}

/*-----------Cart---------*/
.line
{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.align
{
	border: 2px solid #f1f1f1;
}

/*-----------Cart Bill---------*/

.bill
{
	margin: auto;
	border: 2px solid #554e4e;
	text-align: left;
	width: 50%;
	padding: 5px 5px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

/*--------------User profile------------*/
.topimg
{
	background-color: rgba(219, 247, 255, 0.993);
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.edit i
{
	margin: 5px 5px;
	font-size: 200px;
	color: darkslateblue;
	padding-bottom: 25px;
}
.button a
{
	size: 50px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}
.wrapper
{
	width: 50%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	background: mintcream;;
}
.wrapper h1
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: bla;
}

.wrapper .button
{
	float: left;
	padding: 10px 30px;
}
.wrapper .button a
{
	size: 50px;
	color: white;
	text-decoration: none;
	padding: 15px 25px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;;
}
.wrapper .button .btn
{
	background-color: rgba(58, 63, 131, 0.993);
	padding: 10px 25px;
}
.wrapper .button .btn:hover
{
	opacity: 1;
	transform: scale(1.1001);
	transition: 0.5s;
}
.wrapper label
{
	color:black;
}
.wrapper1
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
/*--------information-------*/
.information table tr:nth-child(odd) 
{
	background-color:rgba(219, 247, 255, 0.993);
}
.information table tr
{
	width: 100%;
}
.data{
	float: left;
}
.information table td
{
	width: 100%;
	table-layout:auto;
	color: black;
	padding: 20px 75px ;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;;
}
.ordertable
{
	width: 100%;
}
.size
{
	width: 150px;
	height: 100px;
}
.length
{
	width: 350px;
}
/*---------change password---------*/
.pass-error
{
	color: rgb(199, 52, 52);
	font-weight: bold;
}
.container label
{
	color:black;
	padding: 20px 20px;
}
input
{
	width: 70%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}
input[type=submit] 
{
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	background-color: rgba(219, 247, 255, 0.993);
	color: black;
}
.container 
{
	padding: 20px;
}
/*-------------change address----------*/
.container textarea
{
	margin-left: 20px;
}
.reddot {
	height: 15px;
	width: 15px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
  }
  .greendot {
	height: 15px;
	width: 15px;
	background-color: rgb(29, 236, 29);
	border-radius: 50%;
	display: inline-block;
  }

  .cancel-btn {
	background-color: #4d4141;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	height: fit-content;
  }

  .cancel-btn a{
	  color: white;
	  text-decoration: none;
	  font-weight: bold;
  }

  .cancel-btn:hover{
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 10px 0 rgba(0,0,0,0.19);
  }

  .cancel-btn a:hover {
	color: white;
  }

  .msg-btn{
	background-color: rgb(36, 180, 36);
	border: none;
	padding: 10px 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	height: fit-content;
	font-weight: bold;
  }