*
{
	margin:0;
	padding:0;
}
body
{
	background-color: #f1f3f4;
	font-family: 'Times New Roman', Times, serif;
}
.logo
{
	margin: 5px 10px;
    float: left;
}

/*--------navigation-------*/
.navigation
{
	height: 50px;
	top: 0;
	position: sticky;
	background: black;
	border-bottom: 3px solid orange;
	z-index: 2;

}
.menu
{
	width: 50%;
	height: 57px;
	float: right;
}
.menu ul
{
	display: inline-flex;
	float: right;
}
.menu ul li
{
	border-left: 0.5px solid rgb(211, 204, 204);
	height: 45px;
	list-style-type: none;
	padding: 15px 35px;
	text-align: center;
	cursor: pointer;
}
.menu ul li a
{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}


/*--------slider-------*/
.slide
{
	margin-left: 20%;
	margin-right: 20%;
	padding: 0 10px;
}
.slide img
{
	height: 600px;
	width: 700px;
	float: center;
}

/*--------products-------*/
.product-top img
{
	max-width: 100%;
	
}
.product-top a
{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	align-items: center;
}
.imag
{
	align-content: center;
}
.product-bottom b
{
	text-align: left;
	font-size: 16px;
	color: #0F1111;
	font-family: Arial, Helvetica, sans-serif;
}
.product-bottom h5
{
	text-align: left;
	color: maroon;
	font-family: Arial, Helvetica, sans-serif;
}

/*-----------About us---------*/
.inner-container img
{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}
.text 
{
	text-align: center;
	font-size: large;
	font: 13px;
	background: mintcream;
	padding: 15px 15px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}
.footer
{
	text-align: center;
	background: mintcream;
}

.footer a
{
	font-size: 16px;
	font-weight: bold;
	color:maroon;
	text-decoration: none;
}



