{% extends 'base.html' %}
{% load static %}
{% block content %}
<!------------------navigation-------------------->
    <div class="navigation">
        <a href="/shoppingmodule/"><img class="logo" src="{% static 'shoppingmodule/images/logo.png' %}" width="80" height="40"></a>
        <div class="menu">
            <ul>
                {% if request.session.cust_id %}
                    <li>Welcome {{request.session.cust_name}},</li>
                    <li><a href="/shoppingmodule/viewprofile/"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li><a href="/loginmodule/logout/">Logout</a></li>
                    <li><a href="/shoppingmodule/viewaboutus/">About Us</a></li>
                {% else %}
                    <li><a href="/loginmodule/login/">Login</a></li>
                    <li><a href="/loginmodule/registeruser/">Sign Up</a></li>
                    <li><a href="/shoppingmodule/viewaboutus/">About Us</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
<br>
<h1>Your cart!!</h1><hr>

<!------------------products-------------------->
<section class="categories">
    <div class="container">
        <div class="row">
            <!----------------------inserting product from database---------------------->
            {% if prods %}
                {% for prod in prods %}
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="{% static prod.cart_prod_id.image %}">
                    </div>
                    <br>
                    <div class="product-bottom">
                        <b>{{prod.cart_prod_id.description}}</b>
                        <h5>₹{{prod.cart_prod_id.price}}</h5>
                        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                        <div class="w3-container">
                            <button class="w3-button w3-grey w3-round">
                                <a class="line" href="/shoppingmodule/removefromcart?c_id={{prod.cart_id}}">Remove</i></a>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h2>Your cart is empty!!</h2>
                <h4>Click <a href="/shoppingmodule/">here</a> to continue shopping :)</h4>
            {% endif %}
        </div>
    </div>
</section>
{% if prods %}
    <hr>
    <div class="align">
        <h6>Cart price: ₹{{price}}</h6>
        <h6>Tax: ₹{{TAX}}</h6>
        <strong><h4>Subtotal: ₹{{subtotal}}</h4></strong>
        <button class="w3-button w3-black w3-round w3-block">
            <a  class="line" href="/shoppingmodule/cartbill/">Place Order</i></a>
        </button>
    </div>
{% endif %}
{% endblock %}