{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!------------------navigation-------------------->
    <div class="navigation">
        <a href="/shoppingmodule/"><img class="logo" src="{% static 'shoppingmodule/images/logo.png' %}" width="80" height="40"></a>
        <div class="menu">
            <ul>
                {% if request.session.cust_id %}
                    <li><a href="/shoppingmodule/viewprofile/">Welcome {{request.session.cust_name}},</a></li>
                    <li><a href="/loginmodule/logout/">Logout</a></li>
                    <li><a href="/shoppingmodule/viewaboutus/">About Us</a></li>
                {% else %}
                    <li><a href="/loginmodule/login/">Login</a></li>
                    <li><a href="/loginmodule/registeruser/">Sign Up</a></li>
                    <li><a href="/shoppingmodule/viewaboutus/">About Us</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
<br>
<h1>Your order is confirmed :)</h1>
<h5>Please check your orders for more information.</h5>
<br>
<img  width="300" height="300" src="{% static 'shoppingmodule/images/confirmorder.png' %}">
<br><br>
<h4>Click <a href="/shoppingmodule/">here</a> to continue shopping :)</h4>
</div>
{% endblock %}