{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!------------------navigation-------------------->
    <div class="navigation">
        <a href="/shoppingmodule/"><img class="logo" src="{% static 'shoppingmodule/images/logo.png' %}" width="80" height="40"></a>
        <div class="menu">
            <ul>
                {% if request.session.cust_id %}
                    <li>Welcome {{request.session.cust_name}},</li>
                    <li><a href="/shoppingmodule/viewprofile/"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="/shoppingmodule/viewcart/"><i class="fa fa-shopping-cart"></i></a></li> -->
                    <li><a href="/shoppingmodule/viewcart/">
                        <span class="fa-stack fa-1x has-badge" data-count="{{request.session.cartitems}}">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse" style="font-size:20px"></i>
                    </span></a></li>
                    <li><a href="/loginmodule/logout/">Logout</a></li>
                    <li><a href="/shoppingmodule/viewaboutus/">About Us</a></li>
                {% else %}
                    <li><a href="/loginmodule/login/">Login</a></li>
                    <li><a href="/loginmodule/registeruser/">Sign Up</a></li>
                    <li><a href="/shoppingmodule/viewaboutus/">About Us</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <!------------------slides-------------------->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'shoppingmodule/images/s1.jpeg' %}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{% static 'shoppingmodule/images/s2.jpeg' %}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{% static 'shoppingmodule/images/s4.jpg' %}" class="d-block w-100">
            </div>
        </div>
    </div>
    <br><hr><br>
    <!------------------products-------------------->
    <section class="categories">
        <div class="container">
            <div class="row">
                <!----------------------inserting product from database---------------------->
                {% for prod in prods %}
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="{% static prod.image %}">
                        {% if request.session.cust_id %}
                            <button style="float: left; margin: 5px 5px;" type="button" class="btn btn-secondary" title="Buy now">
                                <a href="/shoppingmodule/buynow?p_id={{prod.prod_id}}"><i class="fa fa-shopping-bag"></i></a>
                            </button>
                            
                            <button style="float: left; margin: 5px 5px;" type="button" class="btn btn-secondary" title="Add to cart">
                                <a href="/shoppingmodule/addtocart?p_id={{prod.prod_id}}"><i class="fa fa-shopping-cart"></i></a>
                            </button>
                        {% else %}
                            <button style="float: left; margin: 5px 5px;" type="button" class="btn btn-secondary" title="Buy now">
                                <a href="/loginmodule/login/"><i class="fa fa-shopping-bag"></i></a>
                            </button>
                            
                            <button style="float: left; margin: 5px 5px;" type="button" class="btn btn-secondary" title="Add to cart">
                                <a href="/loginmodule/login/"><i class="fa fa-shopping-cart"></i></a>
                            </button>
                        {% endif %}
                    </div>
                    <br><br>
                    <div class="product-bottom">
                        <b>{{prod.description}}</b>
                        <h5>₹{{prod.price}}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
{% endblock %}