{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if form.errors %}
    <p class="error">Invalid Username or Password</p>
{% endif %}
    <!------------------navigation-------------------->
    <div class="navigation">
        <a href="/"><img class="logo" src="{% static 'loginmodule/images/logo.png' %}" width="80" height="40"></a>
        <div class="menu">
            <ul>
                <li><a href="/viewaboutus/">About Us</a></li>
            </ul>
        </div>
    </div>
    <br>
<form method="POST">
    <h5>Enter your registered email address</h5>
    <h6>We'll mail instructions for setting a new one.</h6><hr><br>
    {% csrf_token %}
    {{form}}
    <br><br>
    <input class="text" type="submit" value="Send Email"><br><br>
</form>

{% endblock %}