{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if form.errors %}
    <p class="error">Invalid Username or Password</p>
{% endif %}
    <!------------------navigation-------------------->
    <div class="navigation">
        <a href="/shoppingmodule/"><img class="logo" src="{% static 'loginmodule/images/logo.png' %}" width="80" height="40"></a>
        <div class="menu">
            <ul>
                <li><a href="/shoppingmodule/viewaboutus/">About Us</a></li>
            </ul>
        </div>
    </div>
    <br>
<form method="POST">
    <h4>Reset Password</h4></h6><hr><br>
    {% csrf_token %}
    {{form}}
    <br><br>
    <input class="text" type="submit" value="Reset Password"><br><br>
</form>

{% endblock %}